<template>
    <div class="col-12">
        <div v-for="notification in notifications" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{notification.created_at}}</strong> {{notification.info}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"  @click="seen(notification.id)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';
    
    export default {
        data: function() {
            return {
            }
        },
        computed: {
            ...mapGetters({
                notifications: 'notifications',
                notificationUrl: 'notificationUrl',
            }),
        },
        methods: {
            ...mapMutations({
            }),
            /**
             * Marks notification as seen
             */
            seen : function(notification_id) {
                axios.post(this.notificationUrl, {
                        notification_id: notification_id,
                    })
                    .then(({data}) => {
                });
            }
        },
        mounted() {
        }
    }

</script>
