<template>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header alert-info">Requests</h5>
            <div v-if="requests.length>0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Place</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Is sick</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="request in requests">
                            <td v-if="request.office">{{request.office.address}}</td>
                            <td v-else>At home</td>

                            <td>{{request.status}}</td>
                            <td>{{request.date}}</td>

                            <td v-if="request.hours">{{request.hours}}</td>
                            <td v-else="request.hours">Full day</td>

                            <td v-if="request.is_sick">Yes</td>
                            <td v-else>No</td>

                            <td>
                                <button type="button" class="btn btn-danger" @click="saveRequest(request.id, request.user.id)">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="text-center">
                No requests
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';
    
    export default {
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters({
                requests: 'requests',
                requestUpdateUrl :'requestUpdateUrl'
            }),
        },
        methods: {
            ...mapMutations({
                requestUpdated: 'request_updated'
            }),
            /**
             * Cancelling request
             */
            saveRequest(request_id, user_id) {
                var features = [];
                
                axios.post(this.requestUpdateUrl, {
                        request_id: request_id,
                        user_id: user_id,
                        status:'cancelled'
                    })
                    .then(({data}) => {
                    
                    this.requestUpdated(request_id);
                });
            },
        },
        mounted() {}
    }

</script>
