<template>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header alert-info">Work place request</h5>
            <div class="alert alert-danger mt-3" v-if='errors.length > 0'>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </div>
            <form action="" method="post" class = "form-register p-3" @submit.prevent="request">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" name="date" v-model="date" placeholder="Date YYYY-mm-dd">
                </div>
                <div class="form-group">
                    <label for="hours">Hours(if empty then full day)</label>
                    <input type="hours" class="form-control" name="hours" v-model="hours" placeholder="Hours">
                </div>
                <div class="form-group">
                    <label for="office">Work place</label>
                    <select name="office" v-model="selected">
                        <option disabled value="">Please select workplace</option>
                        <option v-bind:value="'home'">Work from home</option>
                        <option v-for="office in offices" v-bind:value="office.id">{{office.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="is_sick">I am sick</label>
                    <input id="is_sick" type="checkbox" name="is_sick" v-model="is_sick">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        data: function() {
            return {
                errors : [],
                date: '',
                hours: '',
                selected: '',
                is_sick: '',
            }
        },
        computed: {
            ...mapGetters({
                offices: 'offices',
                requestUrl: 'requestUrl',
            }),
        },
        methods: {
            ...mapMutations({
                requestCreated: 'request_created'
            }),
            /**
             * Home work or office work request
             */
            request : function() {
                this.errors = [];
                
                axios.post(this.requestUrl, {
                    date: this.date,
                    hours: this.hours,
                    is_sick: this.is_sick,
                    office: this.selected,
                })
                .then(({data}) => {
                    if(data['errors'])
                    {
                        this.errors = data['errors'];
                    }
                    else
                    {
                        this.requestCreated(data);
                    }
                });
            }
        },
        mounted() {
        }
    }

</script>
