<template>
    <div class="row">
        <Notifications></Notifications>
        <Request></Request>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header alert-info">Features</h5>
                <ul id = "features-list" class="p-0">
                    <li class="list-group-item" v-for="feature in features">
                        <input class="feature" type="checkbox" v-bind:name="feature.feature.name" v-bind:id="'feature_' + feature.id" value="" :checked="feature.active ? true : false" disabled>
                        <label v-bind:for="'feature_' + feature.id">{{ feature.feature.name }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <UserRequests></UserRequests>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Request from '../../Components/employee/WorkPlaceRequestComponent.vue';
    import Notifications from '../../Components/employee/NotificationsComponent.vue';
    import UserRequests from '../../Components/employee/UserRequestsComponent.vue';
    
    export default {
        components: {
            Request,
            Notifications,
            UserRequests
        },
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters({
                features: 'features',
            }),
        },
        methods: {
        },
        mounted() {}
    }

</script>
