<template>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header alert-info">Register new user</h5>
            <div class="alert alert-danger mt-3" v-if='errors.length > 0'>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </div>
            <form action="" method="post" class = "form-register p-3" @submit.prevent="register">
                <div class="form-group">
                    <label for="fullname">Fullname</label>
                    <input type="fullname" class="form-control" name="fullname" v-model="fullname" placeholder="Enter fullname">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="email" v-model="email" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        data: function() {
            return {
                errors : [],
                fullname: '',
                email: '',
                password: '',
            }
        },
        computed: {
            ...mapGetters([
                'registrationUrl'
            ]),
        },
        methods: {
            ...mapMutations({
                userRegister: 'register'
            }),
            /**
             * Creates new user
             */
            register : function() {
                this.errors = [];

                axios.post(this.registrationUrl, {
                        fullname: this.fullname,
                        email: this.email,
                    })
                    .then(({data}) => {
                        if(data['errors'])
                        {
                            this.errors = data['errors'];
                        }
                        else
                        {
                            this.userRegister(data);
                        }
                });
            }
        },
        mounted() {
        }
    }

</script>
