<template>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header alert-info">Requests</h5>
            
            <input type="text" placeholder="Search.." v-model="search_text">

            <div v-if="requests.length>0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Place</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Is sick</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="request in filteredRequests">
                            <td>{{request.user.fullname}}</td>
                            <td v-if="request.office">{{request.office.address}}</td>
                            <td v-else>At home</td>

                            <td>{{request.status}}</td>
                            <td>{{request.date}}</td>

                            <td v-if="request.hours">{{request.hours}}</td>
                            <td v-else>Full day</td>

                            <td v-if="request.is_sick">Yes</td>
                            <td v-else>No</td>

                            <td v-if="request.status == 'pending'">
                                <button  type="button" class="btn btn-success" @click="saveRequest(request.user.id, request.id, 'approved')">Accept</button>
                                <button type="button" class="btn btn-danger" @click="saveRequest(request.user.id, request.id, 'cancelled')">Cancel</button>
                            </td>
                            <td v-else>
                                    -
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="text-center">
                No requests
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';
    
    export default {
        data() {
            return {
                current_user : null,
                search_text : ''
            }
        },
        computed: {
            ...mapGetters({
                requests: 'requests',
                requestUrl :'requestUrl',
            }),
            filteredRequests() {
                return this.$store.getters.filteredRequests(this.search_text)
            },
        },
        methods: {
            ...mapMutations({
                requestUpdated: 'request_updated',
            }),
            /**
             * Admin approving or cancelling request
             */
            saveRequest(user_id, request_id, status) {
                var features = [];
                
                axios.post(this.requestUrl, {
                        user_id:user_id,
                        request_id:request_id,
                        status:status
                    })
                    .then(({data}) => {
                    this.requestUpdated({request_id, status});
                });
            },
        },
        mounted() {}
    }

</script>
