<template>
    <div class="row">
        <Registration></Registration>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header alert-info">Users</h5>
                <div v-if="users.length>0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Features</th>
                                <th scope="col">Created at</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.fullname}}</td>
                                <td>
                                    <a href="#" @click="showModal(user)">Open</a>
                                </td>
                                <td>{{user.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else class="text-center">
                    No users
                </div>
            </div>
            <b-modal ref="myModalRef" hide-footer v-bind:title="'User ' + (this.current_user !== null ? this.current_user.fullname : '') + ' permissions'">
                <ul id = "features-list" v-if="this.current_user !== null">
                    <li class="list-group-item" v-for="feature in this.current_user.features">
                        <input class="feature" type="checkbox" v-bind:name="feature.feature.name" v-bind:id="'feature_' + feature.id" value="" :checked="feature.active ? true : false">
                        <label v-bind:for="'feature_' + feature.id">{{ feature.feature.name }}</label>
                    </li>
                </ul>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveChanges">Save changes</button>
                    <button type="button" class="btn btn-secondary" @click="hideModal">Close</button>
                </div>
            </b-modal>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Registration from '../../Components/admin/UserRegistrationComponent.vue';
    
    export default {
        components: {
            Registration
        },
        data() {
            return {
                current_user : null,
            }
        },
        computed: {
            ...mapGetters({
                users: 'users',
                featureUrl :'featureUrl'
            }),
        },
        methods: {
            showModal(user) {
                this.current_user = user;
                this.$refs.myModalRef.show()
            },
            hideModal() {
                this.current_user = null;
                this.$refs.myModalRef.hide()
            },
            /**
             * Admin saves features of user 
             */
            saveChanges() {
                var features = [];

                $.each(this.current_user.features, ( index, value ) => {
                    value.active = $('#feature_' + value.id).is(":checked");
                    features.push({id:value.id, active:value.active});
                });

                axios.post(this.featureUrl, {
                        features,
                        user_id:this.current_user.id
                    })
                    .then(({data}) => {
                });
                
                this.hideModal();
            },
        },
        mounted() {}
    }

</script>
